body{
    background-color: #D3A1AB;
    color: white;
    font-family: Verdana;
}

.navbar {
    display: flex;
    justify-content: center;
}

h2{
    position: relative;
    margin: auto;
    left: -30px;
}

.listoflocations{
    overflow: scroll;
    background-color: #F0F0EA;
    border-radius: 8px;
    border: none;
    height: 100%;
    width: 100%;
    padding: 14px 40px;
    margin: 10px;
    font-family: Verdana;
}

li{
    margin: 10px;
    text-decoration: none;
    color: #CF5882;
    font-size: 20px;
}

.submit{
    border-radius: 8px;
    border: none;
    padding: 14px;
    background-color: #CF5882;
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: white;

}

img {
    height: 60px;
    width: auto;
}
