.main{
    padding: 30px 80px;
}

h2{
    color: #F0F0EA;
}

input[type="text"]{
    font-size: 20px;
    width: 100%;
}

.listoflocations{
    overflow-y: scroll;
}

.labelLocation{
    background-color: #F0F0EA;
    border-radius: 8px;
    border: none;
    width: 100%;
    padding: 14px 40px;
    margin: 10px 0;
    box-sizing: border-box;
}

label{
    color: #44290C;
    font-size: 20px;
}

input[type="checkbox"]{
    height: 15px;
    width: 15px;
    accent-color: #44290C;
}

input[type="submit"]{
    color: white;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    padding: 14px;
    background-color: #44290C;
    width: 100%;
    text-align: center;
}

input[type="submit"]:hover{
    background-color: #D3A1AB;
}